html,body{
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%,rgba(0, 0, 0, 0.5)50%), url("images/back2.jpg");
 	background-position: center;
 	background-size: cover;
 	background-repeat: no-repeat;
 	height: 100vh;
 	overflow: hidden;
 
}
nav{
	width: 100%;
	height: 15%;
	backdrop-filter: blur(15px);
	text-align: center;
	margin: 0;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 1.0);

	
}
nav ul li{
	position: relative;
}
nav ul{
	list-style: none;
	float: right;
	margin: 0 auto;
	display: block;
}
nav li{
	color: white;
	display: inline-block;	
}
nav ul li a{
	color: white;
	text-decoration: none;
	line-height:80px;
	margin: 0 10px;
}
nav ul li a:hover{
	background-color: darkgoldenrod;
	padding: 10px;
	transition: .5s ease;
	border-radius: 0.5rem;
}
.drop{
	position: absolute;
	display: flex;
	width: 150px;
	flex-direction: column;
	margin: 0.5rem -0.5rem;
	backdrop-filter: blur(10px);
	padding: 0.5rem 0;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 1.0);
	border-radius: 0.5rem;
	display: none;
}
nav ul li ul li a:hover{
		padding: 10px;
	transition: .5s ease;

}
#desks:hover .drop{
	display: flex;
}

#contact:hover .drop{
	display: flex;
}
label{
	float: left;
	color:white;
	font-size:35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight:bold;
	float:left;
	padding-left:10px;
}
nav #menu{
	color: white;
	font-size: 30px; 
	line-height: 80px;
	float: right;
	cursor: pointer;
	margin-right: 50px;
	display: none;
}
#content{
	width: 100%;
	height: 85%;
	float: left;
	color: white;
	overflow-x: hidden;
	overflow-y: scroll;
}
span{
	color: orangered;
}
/*CSS about Contact us Message page*/
#form{
	width: 80%;
	height: 650px;
	margin-left: 10%;
	margin-top: 2%;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 1.0);

	border-radius: 0.5rem;
}
input{
	color: white;
}
a{
	text-decoration: none;
}
#form input{
	width: 90%;
	height: 35px;
	color: white;
	background: transparent;
	border-bottom: 1px solid white;
	text-align: center;
	border-right: none;
	border-top: none;
	border-left: none;
	margin-top: 2%;
	margin-left: 5%;
}
#form input:hover{
	color: orangered;
}

#form input[type="submit"]{
	background-color: orangered;
	color: white;
	padding: 10px;
	border-radius: 0.5rem;
	border: none;
}
h2{
	padding-top:10px;
	text-align: center;
}
textarea{
	width: 90%;
	margin-top: 2%;
	margin-left: 5%;
	border: 1px solid white;
	background: transparent;
	color: white;
}
/*CSS about basket page*/
.info{
	display: flex;
	flex-wrap: wrap;
}
.info a{
	text-decoration: none;
	color: white;
	background-color: darkred;
	padding: 3px;
	border-radius: 0.5rem;
}
#add{
	background-color: green;
	width: 200px;
}
#add:hover{
	background-color: lightgreen;
}
input[type="number"]{
	color: black;
}
table{
	width: 100%;
}
th{
	text-align: left;
}
td img{
	width: 100px;
	height: 100px;
}
td input[type="submit"]{
	width: 80%;
	color: white;
	background-color: orangered;
	padding: 10px;
	margin-left: 5%;
	border-radius: 0.5rem;
}
td input[type="submit"]:hover{
	
	color: blue;
	background-color: orange;
	padding: 15px;

}


/*animated search bar*/

nav form{
	position: relative;
	transform: translate(-50%,-50%);
	transition: all 1s;
	background-color: blue;
	box-sizing: border-box;
	border-radius: 50%;
	height: 15px;
	width: 30px;
	padding: 5px;
	background: transparent;
 	top: 40%;
 	padding-top: 10%;
}
form .fa{
	box-sizing: border-box;
	padding: 10px;
	width: 42.5px;
	height: 42.5px;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50%;
	text-align: center;
	font-size: 1.2em;
	
}
nav form:hover i{
	color: black;
}
nav form:hover{
	width: 300px;
	cursor: pointer;
}
nav form:hover input{
	display: block;
}
nav input{
	position: absolute;
	width: 100%;
	height: 30.5px;
	line-height: 30px;
	outline: 0;
	border: 0;
	display: none;
	font-size: 1em;
	border-radius: 100%;
	padding: 0 20px;
	background: orangered;
	border: 1px solid white;
	color: white;
}
/*Footer and social media links*/
#footer{
	width: 100%;
	height: 100px;
	float: left;
	backdrop-filter: blur(15px);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 1.0);
	margin-top: 25%;
}
#links,#copy{
	width: 100%;
	height: 50px;
	
}
#links a{
	text-decoration: none;
	color: white;
}
#links a:hover{
	background-color: orangered;
	padding: 2px;
	border-radius: 0.5rem;
}


#footer table{
	width: 100%;
	height: 100%;
	text-align: center;

}
/*Welcome on home page*/
#welcome{
	width: 65%;
	height: 70%;
	text-transform: uppercase;
	float: left;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%,rgba(0, 0, 0, 0.5)50%), url("images/10.jpg");
	background-position: center;
	background-repeat: no-repeat;
	margin-top:2% ;
	margin-left:17%;
	border-radius: 0.5rem;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}
#welcome p{
	text-align: center;
	font-size:1.2em;
}
#text1{
	font-size: 25px;
	letter-spacing: 8px;
	margin-bottom: 5%;
	color: white;
	position: relative;
	animation: text 3s 1;
}
#text2{
	color: orangered;
}
@keyframes text {
	0%{
		color: transparent;
		margin-bottom: -5%;
	}
	30%{
		letter-spacing: 20px;
		margin-bottom: -5%;
	}
	85%{
		letter-spacing: 8px;
		margin-bottom: -5%;
	}
}
#s{
	color: white;
}
p a{
	background-color: red;
	text-decoration: none;
	color: white;
	padding: 5px;
	border-radius: 0.5rem;
}
p a:hover{
	background-color: orangered;
	padding: 10px;
	font-size: 1em;
	transition: 0.5s ease;
}

/*contact details page*/
#details p{
	font-size: 1em;
	text-align: center;
	font-weight: bold;

}
#details i{
	font-size: 30px;
}

/*special offers and other offers on home page*/
#special{
	width: 100%;
	height: 90%;
	float: left;
	margin-top: 5%;
	background-color: white;
	color: orangered;

}

.items{
	width: 22.5%;
	height: 70%;
	float: left;
	margin-left: 2%;
	margin-top: 2%;
	background-color: transparent;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 1.0);
}


.picture{
	width: 100%;
	height: 60%;
	float: left;
	border-radius: 10px 10px 0 0;
	background-color: transparent;
}
.picture img{
	object-fit: contain;
	width: 100%;
	height: 100%;
}
.details{
	width: 100%;
	height: 20%;
	float: left;
	background-color: transparent;
	color: black;
	text-align: center;
	
	
}
del{
	color: red;
}
.price{
	width: 100%;
	height: 20%;
	float: left;

	color:black;
	text-align: center;
	font-size: 25px;
	border-radius: 0 0 10px 10px;
}

#s_desks{
	width: 100%;
	height: 90%;
	float: left;
	overflow-x: hidden;
	overflow-y: scroll;
	margin-top: 5%;
	backdrop-filter: blur(5px);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 1.0);


}
#s_desks p{
	color: white;
}
/*image slideshow*/
#slide{
	margin-top: 5%;
	width: 58%;
	height: 70%;
	margin-left: 20%;																				 
	background: url("images/back.jpg");
	float: left;
	animation: slide 20s infinite;
}
#slide h2{
	color: orangered;
}
@keyframes slide{
	25%{
		background: url("images/back.jpg");
	}
	50%{
		background: url("images/14.jpg");
	}
	75%{
		background: url("images/10.jpg");
	}
	100%{
		background: url("images/12.jpg");
	}
}
/*health benefits page*/
.health img{
	width: 150px;
	height: 150px;
}
.health{
	display: flex;
	flex-wrap: wrap;
	margin-top: 2%;
	margin-left: 5%;
	margin-bottom: 10%;
}
.health span{
	font-weight: bold;
}
#video{
	margin-left: 17%;
	width: 70%;
	height: 60%;
}
/*Buy form*/
#buy{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
	text-align: center;
	justify-content: center;
	display: none;
	align-items: center;
}
#buy_form{
	width: 50%;
	height: 50%;
	margin-top: 10%;
	margin-left: 25%;
	backdrop-filter: blur(10px);
	justify-content: center;
	text-align: center;
	border-radius: 0.5rem;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 1.0);
}
#buy_form input[type="text"]{
	width: 90%;
	margin-top: 2%;
	margin-left: 1%;
	height: 30px;
	background: transparent;
	color: white;
	border: 1px solid white;
}
#buy_form input[type="submit"]{
	width: 100px;
	height: 30px;
	margin-top: 2%;
	background-color: orangered;
	color: white;
	border-radius: 0.5rem;
	border: none;

}
#close{
	height: 20px;
	width: 20px;
	position: absolute;
	top: -5px;
	background-color: white;
	right: -15px;

	color:red;
}

@media (max-width:1048px){
	nav{
		padding:  50px 0px;
	}
	label{
		font-size: 30px;
		padding-left: 60px;
	}
	nav ul{
		margin-right: 20px;
		display: block;
	}
	nav li{
		font-size: 15px;
	}
	#content{
		overflow-x: hidden;
		overflow-y: scroll;
	}
	#video{
	margin-left: 10%;
	width: 70%;
	height: 60%;
	}
}
@media (max-width:980px){
	#menu{
		display: block;
	}
	#content{
		overflow-x: hidden;
		overflow-y: scroll;
	}
	nav{
		width: 100%;
		height: 10%;
		float: left;
	}
	nav label{
		font-size: 25px;
		margin-left: -40px;
	}
	nav ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		backdrop-filter: blur(10px);
		background-color: red;
		top: 150px;
		left: 0;
		text-align: center;
		transform: translateX(100%);
	}
	nav ul li a{
		width: 100%;
	}
	nav ul li a:hover{
		background-color: orangered;
		width: 100%;
	}
	
	nav li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav a{
		font-size: 20px;
	}
	a.active,a:hover{
		background-color: darkgoldenrod;
		
	}
	nav #menu{
		color: white;
		font-size: 30px; 
		line-height: 80px;
		float: right;
		cursor: pointer;
		margin-right: -50px;
		display: block;

	}
	#slide{
	margin-top: 5%;
	width: 58%;
	height: 70%;
	margin-left: 5%;																				 
	background: url("images/back.jpg");
	float: left;
	animation: slide 20s infinite;
}
	.drop{
		position: relative;
		left: -100%;
		width: 200px;
		height: 150px;
		margin-left: -200px;
		margin-top: -40%;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 1.0);
		border-radius: 0.5rem;
	
	}

	.drop li{
		margin-top: -1%;
	}
	.items{
	width: 80%;
	height: 50%;
	float: left;
	margin-left: 10%;
	margin-top: 5%;
	background-color: transparent;

		box-shadow: 0 4px 12px rgba(0, 0, 0, 1.0);
	}
	.price{
		font-size: 1em;
	}
	#special{
	width: 100%;
	height: 90%;
	float: left;
	margin-top: 5%;
	background-color: white;
	color: orangered;
	overflow-y: scroll;
	overflow-x: hidden;

	}
	#s_desks{
	width: 100%;
	height: 90%;
	float: left;
	margin-top: 5%;
	backdrop-filter: blur(5px);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 1.0);
	overflow-x: hidden;
	overflow-y: scroll;

	}
	#video{
	margin-left: 10%;
	width: 70%;
	height: 60%;
	}
	video{
		width: 100%;
		height: 100%;
	}
	#welcome p{
		font-size: 0.8em;
	}
	#welcome{
	width: 70%;
	height: 55%;
	}

}
@media (max-width:389px){
	nav label{
		font-size: 15px;
		margin-left: -40px;
	}
	nav{
		width: 100%;
		height: 10%;
		float: left;

	}
	#menu{
		
		display: block;
		
	}
	#slide{
	margin-top: 5%;
	width: 58%;
	height: 70%;
	margin-left: 10%;																				 
	background: url("images/back.jpg");
	float: left;
	animation: slide 20s infinite;
}
	.items{
	width: 80%;
	height: 50%;
	float: left;
	margin-left: 10%;
	margin-top: 5%;
	background-color: transparent;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 1.0);
	}
	#special{
	width: 100%;
	height: 90%;
	float: left;
	margin-top: 5%;
	background-color: white;
	color: orangered;
	overflow-y: scroll;
	overflow-x: hidden;

	}
	#s_desks{
	width: 100%;
	height: 90%;
	float: left;
	margin-top: 5%;
	backdrop-filter: blur(5px);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 1.0);
	overflow-x: hidden;
	overflow-y: scroll;
	}
	#welcome p{
		font-size: 0.8em;
	}
	#welcome{
	width: 100%;
	height: 55%;
	margin-left: -0%;

	}


}
@media (max-width:300px){
	nav label{
		font-size: 10px;
		margin-left: -40px;
	}
	nav{
		width: 100%;
		height: 10%;
		float: left;
	}
	#menu{
		font-size: 10px;
		margin-right: -60px;
		margin-top: -80px;
	}
	.price{
		width: 100%;
		height: 20%;
		float: left;

		color:black;
		text-align: center;
		font-size: 1em;
		border-radius: 0 0 10px 10px;
	}
	.items{
	width: 80%;
	height: 50%;
	float: left;
	margin-left: 10%;
	margin-top: 5%;
	background-color: transparent;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 1.0);
	}
	#special{
	width: 100%;
	height: 90%;
	float: left;
	margin-top: 5%;
	background-color: white;
	color: orangered;
	overflow-y: scroll;
	overflow-x: hidden;

	}
	#s_desks{
	width: 100%;
	height: 90%;
	float: left;
	margin-top: 5%;
	backdrop-filter: blur(5px);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 1.0);
	overflow-x: hidden;
	overflow-y: scroll;

	}
	#welcome p{
		font-size: 0.8em;
	}
	#welcome{
	width: 100%;
	height: 55%;
	}


}
@media(max-width:419px){
	nav label{
		font-size: 15px;
		margin-left: -40px;
	}
	nav{
		width: 100%;
		height: 50px;
		float: left;
	}
}
@media (max-width:327px){
	#menu{
		margin-top: -80px;
	}
}
@media(max-width:232px){
	nav label{
		font-size: 0.6em;
		margin-left: -40px;
	}
	nav{
		width: 100%;
		height: 10%;
		float: left;
	}
}